@model string

<div class="errordiv alert alert-danger alert-dismissible fade show text-center">
    @Model<button type="button" class="close" data-dismiss="alert"><span class="ml-auto">&times</span></button>
</div>

<script>
    setTimeout(() => {
        $(".errordiv").addClass("d-none");
    }, 2000);
</script>