<div class="footer_section layout_padding">
    <div class="container">
        <div class="footer_logo"><a href="index.html"><img src="~/images/footer-logo.png"></a></div>
        <div class="contact_section_2">
            <div class="row">
                <div class="col-sm-4">
                    <h3 class="address_text">İletişim</h3>
                    <div class="address_bt">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left10">Adres : Lorem ipsum mah. sit amet cad.</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left10">Telefon : +90 123 456 78 90</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left10">Email : loremipsum@gmail.com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer_logo_1"><a href="index.html"><img src="~/images/logo.png"></a></div>
                    <p class="dummy_text">commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
                </div>
                <div class="col-sm-4">
                    <div class="main">
                        <h3 class="address_text">Best Products</h3>
                        <p class="ipsum_text">dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="social_icon">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="copyright_section">
    <div class="container">
        <p class="copyright_text">2023 Tüm hakları saklıdır.</p>
    </div>
</div>