<header class="header_section d-flex align-items-center justify-content-center">
    <div class="logodiv">
        <a class="logo" href="https://localhost:7121/"><img src="~/images/logo.png"></a>
    </div>
    <div id="search" class="float-right">
        <input type="search" id="search-input" placeholder="Ara">
        <a href="#"><img src="~/images/search-icon.png"></a>
    </div>
</header>
<div class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <ul>
                        <li>
                            <a href="https://localhost:7121/">
                                Ana Sayfa
                            </a>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="" data-bs-toggle="dropdown"> Castrol </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/madeniyag/?marka=castrol">Madeni Yağlar</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/motoryagi/?marka=castrol">Motor Yağları</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/traktoryagi/?marka=castrol">Traktör Yağları</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/gresyagi/?marka=castrol">Gres Yağları</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">Mobil</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/madeniyag/?marka=mobil">Madeni Yağlar</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/motoryagi/?marka=mobil">Motor Yağları</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/traktoryagi/?marka=mobil">Traktör Yağları</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/gresyagi/?marka=mobil">Gres Yağları</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">Elf</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/madeniyag/?marka=elf">Madeni Yağlar</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/motoryagi/?marka=elf">Motor Yağları</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/traktoryagi/?marka=elf">Traktör Yağları</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/gresyagi/?marka=elf">Gres Yağları</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">Motul</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/madeniyag/?marka=motul">Madeni Yağlar</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/motoryagi/?marka=motul">Motor Yağları</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/traktoryagi/?marka=motul">Traktör Yağları</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/gresyagi/?marka=motul">Gres Yağları</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">Petrol Ofisi</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/madeniyag/?marka=petrolofisi">Madeni Yağlar</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/motoryagi/?marka=petrolofisi">Motor Yağları</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/traktoryagi/?marka=petrolofisi">Traktör Yağları</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/gresyagi/?marka=petrolofisi">Gres Yağları</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">Shell</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/madeniyag/?marka=shell">Madeni Yağlar</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/motoryagi/?marka=shell">Motor Yağları</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/traktoryagi/?marka=shell">Traktör Yağları</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/gresyagi/?marka=shell">Gres Yağları</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="https://localhost:7121/urunler/parca" data-bs-toggle="dropdown">Parçalar</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/parca/?altkategori=kayis">Kayış</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/parca/?altkategori=filtre">Filtre</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/parca/?altkategori=sprey">Sprey</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/parca/?altkategori=kelepce">Kelepçe</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/parca/?altkategori=antifriz">Antifriz</a></li>
                                <li><a class="dropdown-item" href="https://localhost:7121/urunler/parca/?altkategori=hortum">Hortum</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="https://localhost:7121/hakkimizda/">Hakkımızda</a>
                        </li>
                        <li>
                        <a href="https://localhost:7121/iletisim/">İletişim</a>
                        </li>
                    </ul>
            </div>
            <span class="toggle_icon" onclick="openNav()"><img src="~/images/toggle-icon.png"></span>
            <nav class="main-navbar w-75">
                <ul>
                    <li><a href="https://localhost:7121/">Ana Sayfa</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="" data-bs-toggle="dropdown"> Castrol </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/madeniyag/?marka=castrol">Madeni Yağlar</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/motoryagi/?marka=castrol">Motor Yağları</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/traktoryagi/?marka=castrol">Traktör Yağları</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/gresyagi/?marka=castrol">Gres Yağları</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">Mobil</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/madeniyag/?marka=mobil">Madeni Yağlar</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/motoryagi/?marka=mobil">Motor Yağları</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/traktoryagi/?marka=mobil">Traktör Yağları</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/gresyagi/?marka=mobil">Gres Yağları</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">Elf</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/madeniyag/?marka=elf">Madeni Yağlar</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/motoryagi/?marka=elf">Motor Yağları</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/traktoryagi/?marka=elf">Traktör Yağları</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/gresyagi/?marka=elf">Gres Yağları</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">Motul</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/madeniyag/?marka=motul">Madeni Yağlar</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/motoryagi/?marka=motul">Motor Yağları</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/traktoryagi/?marka=motul">Traktör Yağları</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/gresyagi/?marka=motul">Gres Yağları</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">Petrol Ofisi</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/madeniyag/?marka=petrolofisi">Madeni Yağlar</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/motoryagi/?marka=petrolofisi">Motor Yağları</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/traktoryagi/?marka=petrolofisi">Traktör Yağları</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/gresyagi/?marka=petrolofisi">Gres Yağları</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">Shell</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/madeniyag/?marka=shell">Madeni Yağlar</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/motoryagi/?marka=shell">Motor Yağları</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/traktoryagi/?marka=shell">Traktör Yağları</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/gresyagi/?marka=shell">Gres Yağları</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="https://localhost:7121/urunler/parca" data-bs-toggle="dropdown">Parçalar</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/parca/?altkategori=kayis">Kayış</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/parca/?altkategori=filtre">Filtre</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/parca/?altkategori=sprey">Sprey</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/parca/?altkategori=kelepce">Kelepçe</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/parca/?altkategori=antifriz">Antifriz</a></li>
                            <li><a class="dropdown-item" href="https://localhost:7121/urunler/parca/?altkategori=hortum">Hortum</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="https://localhost:7121/hakkimizda/">Hakkımızda</a>
                    </li>
                    <li>
                        <a href="https://localhost:7121/iletisim/">İletişim</a>
                    </li>
                </ul>
            </nav>
            <form class="form-inline">
                <div class="login_text">
                    <ul>
                        <li><a href="https://localhost:7121/sepet/" id="sepet"><img src="~/images/bag-icon.png"></a></li>
                    </ul>
                </div>
            </form>
        </nav>
    </div>
</div>