@model Marka

@{
    Layout = "AdminUILayout";
}

<h1>Markalar</h1>

<div style="margin-bottom:15px;">
    <button class="btn btn-lg btn-success mb-5" onclick="markaekle()">Kategori ekle</button>
</div>

<div class="ekle" id="markaekle">
    <form asp-action="markaekle" asp-controller="a_Marka" method="post" class="w-75">
        <label asp-for="MarkaAdi" class="form-label">Kategori adı</label>
        <span asp-validation-for="MarkaAdi"></span>
        <input type="text" class="form-control" asp-for="MarkaAdi" placeholder="Marka adı" />
        <label asp-for="MarkaKod" class="form-label">Fiyat</label>
        <span asp-validation-for="MarkaKod"></span>
        <input type="text" class="form-control" asp-for="MarkaKod" placeholder="Marka kodu" />
        <label asp-for="UrunCesitId" class="form-label">Ürün çeşidi</label>
        <span asp-validation-for="UrunCesitId"></span>
        <select class="form-control" asp-for="UrunCesitId" />
        <option value=1>Yağ</option>
        <option value=2>Parça</option>

        <input type="submit" class="btn btn-outline-success mt-4" />
    </form>
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Marka Id</th>
            <th scope="col">Marka Adı</th>
            <th scope="col">Marka Kodu</th>
            <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody id="govde">
        @foreach (var marka in ViewBag.Markalar)
        {
            <tr>
                <th scope="row">@marka.MarkaId</th>
                <td>@marka.MarkaAdi</td>
                <td>@marka.MarkaKod</td>
                <td><button class="btn btn-danger btn-sm" onclick="MarkaSilModal(@marka.MarkaId)">Sil</button></td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="modal5">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">KategoriSil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Marka silinsin mi?</p>
            </div>
            <div class="modal-footer" id="modal-footer">
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    function MarkaSilModal(id) {
        $("#modal5").css("display", "flex");
        var html = $("#modal-footer").html();
        $("#modal-footer").html(`${html}
                    <a href="https://localhost:7121/admin/a_Marka/MarkaSil/${id}" type="button" class="btn btn-primary">Sil</a>
            `)
    }
    function markaekle() {
        $("#markaekle").css("display", "flex");
    }
</script>