@{
    Layout = "AdminUILayout";
}
<div class="d-flex justify-content-center align-items-center w-100 h-100">
    <h1 style="width:fit-content">
        Yönetim Paneline hoşgeldiniz...
    </h1>
</div>