<div class="container">
    <partial name="../PartialViews/_SiralaFiltrelePartial.cshtml" model='new { kategori = "motoryagi" }'>
    </partial>
<div class="row baslik">
    <div class="col-sm-12">
            @if (ViewBag.marka == null)
            {
                <h1 class="product_taital">Motor Yağları</h1>
            }
            else
            {
                <h1 class="product_taital">Motor Yağları - @ViewBag.marka</h1>
            }
    </div>
</div>
<div class="products">
    @if (ViewBag.enfazla == 0 && ViewBag.sira==null)
        {
            @await Component.InvokeAsync("UrunComponent",new{category="Motor yağı",forIndex=false, marka=ViewBag.marka})
        }
        else if (ViewBag.sira == null)
        {
            @await Component.InvokeAsync("UrunComponent",new{category="Motor yağı",forIndex=false, marka=ViewBag.marka, enaz=ViewBag.enaz, enfazla=ViewBag.enfazla})
        }else{
            @await Component.InvokeAsync("UrunComponent",new{category="Motor yağı",forIndex=false, marka=ViewBag.marka, enaz=ViewBag.enaz, enfazla=ViewBag.enfazla, sira=ViewBag.sira})
        }
   
</div>
</div>