<div class="container">
    <partial name="../PartialViews/_SiralaFiltrelePartial.cshtml" model='new { kategori = ViewBag.UrunCesidi }'></partial>
<div class="row baslik">
    <div class="col-sm-12">
            @{
                if (ViewBag.UrunCesidi == "parca" && ViewBag.KategoriAdi == null)
                {
                    <h1 class="product_taital">Parçalar</h1>
                }
                else
                {
                    if (ViewBag.marka == null)
                    {
                        @await Component.InvokeAsync("BaslikOlusturComponent", new { kategoriAdi = ViewBag.KategoriAdi })
                    }
                    else
                    {
                        @await Component.InvokeAsync("BaslikOlusturComponent", new { kategoriAdi = ViewBag.KategoriAdi, marka=ViewBag.marka })
                    }
                }
                
            }
   </div>
</div>
<div class="products">
        @await Component.InvokeAsync("UrunComponent", new{uruncesidi=ViewBag.UrunCesidi, category=ViewBag.KategoriAdi, forIndex=false, marka=ViewBag.marka})
    </div>
</div>