@model List<Kategori>

<div class="product_section layout_padding">
    <div class="container">

        @foreach (var kategori in Model)
        {
            if (kategori.UrunCesitId == 1)
            {
                <div class="row baslik">
                    <div class="col-sm-12">
                        <h1 class="product_taital">@kategori.KategoriAdi</h1>
                    </div>
                </div>
                <div class="products">
                    @await Component.InvokeAsync("UrunComponent", new{uruncesidi="yag", category=kategori.KategoriKod, forIndex=true})
                </div>
                <div>
                    @await Component.InvokeAsync("ButtonComponent", new{uruncesidi="yag", category=kategori.KategoriKod})
                </div>
            }
        }

        <div class="row baslik">
            <div class="col-sm-12">
                <h1 class="product_taital">Parçalar</h1>
            </div>
        </div>
        <div class="products">
            @await Component.InvokeAsync("UrunComponent", new{uruncesidi="parca", forIndex=true})
        </div>
        <div>
            @await Component.InvokeAsync("ButtonComponent", new{uruncesidi="parca"})
        </div>
    </div>
</div>
