@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.title</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/assets/css/custom.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Yönetim Paneli</a>
            </div>

        </nav>
        <!-- /. NAV TOP  -->
        <div>
            <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu">
                        <li class="text-center">
                            <img src="~/assets/img/find_user.png" class="user-image img-responsive" height="200" />
                        </li>

                        <li>
                            <a href="https://localhost:7121/admin/urunler"> Ürünler</a>
                        </li>
                        <li>
                            <a href="https://localhost:7121/admin/kategoriler">Kategoriler</a>
                        </li>
                        <li>
                            <a href="https://localhost:7121/admin/markalar"> Markalar</a>
                        </li>
                        <li>
                            <a href="https://localhost:7121/admin/parcalar"> Parça çeşitleri</a>
                        </li>
                        <li>
                            <a href="https://localhost:7121/admin/adminler"> Adminler</a>
                        </li>
                        <li>
                            <a href="https://localhost:7121/admin/siparisler"> Siparişler</a>
                        </li>
                        <li>
                            <a href="https://localhost:7121/admin/mesajlar">Mesajlar</a>
                        </li>
                        <li>
                            <a href="https://localhost:7121/admin/hakkimizda"> Hakkimizda sayfası Yönetim </a>
                        </li>
                    </ul>

                </div>

            </nav>
            
        </div>
        <div class="admin_icerik">
            @RenderBody()
        </div>
    </div>

</body>
</html>
