@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/adminstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container-scroller">
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div class="me-3">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                </div>
                <div style="font-size:25px;font-weight:bold;">
                    Yönetim Paneli
                </div>
            </div>

        </nav>
        <div class="container-fluid page-body-wrapper d-flex">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://localhost:7121/admin/a_Urunler/">
                            Ürünler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://localhost:7121/admin/a_Kategori/">
                             Kategoriler
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://localhost:7121/admin/a_Marka/">
                             Markalar
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://localhost:7121/admin/a_Admin/">
                            Adminler
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://localhost:7121/admin/a_Siparis/">
                            Siparişler
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://localhost:7121/admin/a_Mesaj/">
                            Mesajlar
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://localhost:7121/admin/a_Hakkimizda/">
                            Hakkimizda sayfası Yönetim
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="pt-4 px-4" style="width:calc(100% - 220px); margin-left:auto">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="./_ValidationScriptsPartial"></partial>
</body>
</html>
